*,*::after, *::before {
   box-sizing: border-box;
}

.modal {
    position: fixed;/*As the user moves the cursor,modal follows them*/
    border: 2px solid red;
}



/* .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black;
} */

/* .modal {
    position: fixed;
   top: 50%;
   left: 50%;
   transform: translation(-50%, -50%) scale(0);    /* scale(0) means we are hiding */
/*   transition: 200ms ease-in-out;
   border: 1px solid black;
   border-radius: 10px;
   z-index:10;
   background-color:  rgb(200, 130, 200);
   width: 500px;
   max-width: 80%;
} */

